@import "global.scss";
.song-list{
  padding: 200px 250px 50px 250px;
}
.el-table{
  border-radius: 0 0 10px 10px;
}
.el-header{
  border-radius: 10px 10px 0 0;
}
.pagination {
  @include layout(center);
  transform: translateY(15px);
}
