@import "var.scss";
@import "global.scss";

.portfolio {
  margin: 0 150px 30px;
  padding-top: $header-height;
  padding-bottom: 50px;
  min-width: 800px;
  background-color: $color-white;
}

.portfolio-header {
  width: 100%;
  padding: 0 40px;
  li {
    display: inline-block;
    line-height: 40px;
    margin: 30px 30px 10px 10px;
    font-size: 15px;
    font-weight: 400;
    color: $color-grey;
    border-bottom: none;
    cursor: pointer;
  }
  li.active {
    color: $color-black;
    font-weight: 600;
    border-bottom: 4px solid $color-black;
  }
}


